<h2><em>the bloggy thing</em></h2>
<h3><%= link_to(@item[:title], @item.path) %></h3>
<p class="created_at"><%= @item[:created_at] %></p>
<%= yield %>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'humanmade';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

